@use '@/styles/base/helpers';
@use '@/styles/base/color';
@use '@/styles/base/spacing';

$button-class: 'button';

.#{$button-class} {
  @include helpers.reset-button;

  &:not(:disabled) {
    @include helpers.clickable;
  }
  
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: color.palette('text');
  font-family: var(--heading-font-family);
  text-align: center;
  text-decoration: none; // in the case that this is used on a link
  width: auto;
  height: auto;
  min-width: spacing.unit(5);
  min-height: spacing.unit(5);
  border-radius: spacing.unit(5);
  background-color: color.color('sea-green');

  &:disabled,
  &[disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  @include color.color-modifiers($include-hover: true);

  &--small {
    min-width: spacing.unit(4);
    min-height: spacing.unit(4);
    font-size: spacing.unit(1);
  }

  &--large {
    min-width: spacing.unit(7);
    min-height: spacing.unit(7);
    font-size: spacing.unit(2);
  }

  &--full-width {
    width: 100%;
    flex-grow: 1;
  }

  &--has-icon {

    .#{$button-class}__content {
      margin-left: 0;
    }

    &:not(.button--icon-pos-right) {
      .#{$button-class}__content {
        margin-left: -2rem;
      }
    }

    &.button--icon-pos-right {
      .#{$button-class}__content {
        margin-right: -2rem;
      }
    }

  }

  &__content {
    padding: 0 2rem;
    flex: 1 1 auto;
  }

  // light color variations
  &--white,
  &--platinum,
  &--platinum--dark {
    color: color.palette('text-dark');

    // icons
    .icon {
      .cls-2 {
        fill: color.palette('text-dark');
      }
    }
  }

  &__icon {
    margin: 0 1rem;

    // use flexbox to change order of icon and content
    &--right {
      order: 2;
    }
  }

  .icon.button__icon {
    height: spacing.unit(3) !important;
    width: spacing.unit(3) !important;
  }
}

@mixin svg-button($svg-path) {
  background: transparent;
  background-image: url($svg-path);
  background-repeat: no-repeat;
  background-size: contain;
  text-indent: -1000px;
  overflow: hidden;
  border: 0;
  cursor: pointer;
}
