@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&family=Quicksand:wght@300..700&display=swap');

/*
  Default theme for the application.
  Uses a purple hue as the base color.
  Light theme by default, with a dark theme variant.
*/

@layer theme {
  :root {
    --heading-font: 'Quicksand', sans-serif;
    --body-font: 'Inclusive Sans', sans-serif;

    /* TW default uses rem, we use em so that spacing scales with local font size */
    --spacing-base: 0.25em;

    /* Used for relative color values */
    --base-hue: 280;

    --background: oklch(98% 0.08 var(--base-hue));
    --text: oklch(10% 0.22 var(--base-hue));

    --neutral: oklch(99% 0.02 var(--base-hue));
    --neutral-contrast: oklch(10% 0.2 var(--base-hue));

    --primary: oklch(18% 0.2 var(--base-hue));
    --primary-contrast: oklch(var(--white));

    --accent: oklch(65% 0.3 var(--base-hue));
    --accent-contrast: oklch(var(--white));

    --secondary: oklch(from var(--primary) calc(l + 0.2) calc(c + 0.05) h);
    --secondary-contrast: oklch(var(--white));

    --surface: oklch(100% 0.01 var(--base-hue));
    --surface-contrast: var(--text);
    --surface-1: oklch(97% 0.02 var(--base-hue));
    --surface-1-contrast: var(--text);
    --surface-2: oklch(95% 0.025 var(--base-hue));
    --surface-2-contrast: var(--text);
    --surface-3: oklch(93% 0.03 var(--base-hue));
    --surface-3-contrast: var(--text);
    --surface-popover: var(--color-white);
    --surface-popover-contrast: var(--color-text);

    --destructive: oklch(var(--tomato));
    --destructive-contrast: oklch(var(--white));

    --warning: oklch(
      from oklch(var(--neon-carrot)) calc(l - 0.17) calc(c + 0.06) h
    );
    --warning-contrast: oklch(var(--white));

    --success: var(--color-sea-green);

    --success-contrast: oklch(var(--white));

    --info: oklch(
      from oklch(var(--cerulean-blue)) calc(l - 0.05) calc(c + 0.05) h
    );
    --info-contrast: oklch(var(--white));

    --selected: oklch(91% 0.21 80);
    --selected-contrast: var(--accent-contrast);

    --link: oklch(from var(--accent) calc(l - 0.2) calc(c + 0.05) h);

    --outline: oklch(90% 0.02 var(--base-hue)); /* Used for borders */

    --input: oklch(var(--white));
    --input-contrast: oklch(var(--cyber-grape));

    --overlay: oklch(10% 0.075 var(--base-hue));

    /* Sequences */
    --node-1: oklch(var(--neon-coral));
    --node-1-contrast: oklch(var(--white));
    --node-2: oklch(var(--sea-serpent));
    --node-2-contrast: oklch(var(--white));
    --node-3: oklch(var(--purple-pizazz));
    --node-3-contrast: oklch(var(--white));
    --node-4: oklch(var(--neon-carrot));
    --node-4-contrast: oklch(var(--white));
    --node-5: oklch(var(--kiwi));
    --node-5-contrast: oklch(var(--white));
    --node-6: oklch(var(--cerulean-blue));
    --node-6-contrast: oklch(var(--white));
    --node-7: oklch(var(--paradise-pink));
    --node-7-contrast: oklch(var(--white));
    --node-8: oklch(var(--mustard));
    --node-8-contrast: oklch(var(--white));

    --edge-1: oklch(var(--mustard));
    --edge-2: oklch(var(--purple-pizazz));
    --edge-3: oklch(var(--neon-coral));
    --edge-4: oklch(var(--kiwi));
    --edge-5: oklch(var(--paradise-pink));
    --edge-6: oklch(var(--tomato));
    --edge-7: oklch(var(--sea-serpent));
    --edge-8: oklch(var(--slate-blue));
    --edge-9: oklch(var(--sea-green));
    --edge-10: oklch(var(--cerulean-blue));

    --ord-1: oklch(var(--sea-green));
    --ord-2: oklch(var(--sea-serpent));
    --ord-3: oklch(var(--tomato));
    --ord-4: oklch(var(--neon-carrot));
    --ord-5: oklch(var(--kiwi));
    --ord-6: oklch(var(--cerulean-blue));
    --ord-7: oklch(var(--paradise-pink));
    --ord-8: oklch(var(--mustard));

    /* used by categorical and convex hulls */
    --cat-1: oklch(var(--sea-serpent));
    --cat-2: oklch(var(--purple-pizazz));
    --cat-3: oklch(var(--mustard));
    --cat-4: oklch(var(--paradise-pink));
    --cat-5: oklch(var(--kiwi));
    --cat-6: oklch(var(--cerulean-blue));
    --cat-7: oklch(var(--neon-carrot));
    --cat-8: oklch(var(--barbie-pink));
    --cat-9: oklch(var(--tomato));
    --cat-10: oklch(var(--slate-blue));
  }

  /** 
    The dark interview theme has purple background with light text.
  */
  [data-theme='dark'] {
    --background: 19% 0.03 var(--base-hue);
    --contrast: 97% 0.001 var(--base-hue);

    /* Reduce chroma for better contrast */
    --primary: 34% 0.15 var(--base-hue);
    --accent: 50% 0.15 var(--accent-hue);

    --muted-contrast: 40% 0.01 var(--base-hue);

    --link: 65% 0.15 var(--accent-hue);

    --border-color: 33% 0.01 var(--base-hue);

    --input: var(--background);
    --input-contrast: var(--contrast);

    /* Surfaces */
    --surface-0: var(--background);
    --surface-0-contrast: var(--contrast);

    --surface-1: 26% 0.03 var(--base-hue);
    --surface-1-contrast: var(--contrast);
    --surface-2: 30% 0.03 var(--base-hue);
    --surface-2-contrast: var(--contrast);
    --surface-3: 33% 0.03 var(--base-hue);
    --surface-3-contrast: var(--contrast);
    --surface-4: 36% 0.03 var(--base-hue);
    --surface-4-contrast: var(--contrast);
  }
}
