/*
  Default theme for the application.
  Uses a purple hue as the base color.
  Light theme by default, with a dark theme variant.
*/

@layer theme {
  :root {
    /* Used for relative color values */
    --base-hue: 275;

    --background: 98% 0.01 var(--base-hue);
    --text: 10% 0.22 var(--base-hue);

    --neutral: var(--platinum);
    --neutral-contrast: var(--charcoal);

    --primary: 25% 0.15 var(--base-hue);
    --primary-contrast: var(--white);

    /* For visual emphasis */
    --accent-hue: calc(var(--base-hue) - 30);
    --accent: 50% 0.22 var(--accent-hue);
    --accent-contrast: var(--white);

    --secondary: 60% 0.1 var(--base-hue);
    --secondary-contrast: var(--white);

    --surface: 100% 0.005 var(--base-hue);
    --surface-contrast: var(--text);
    --surface-1: 91.5% 0.01 var(--base-hue);
    --surface-1-contrast: var(--text);
    --surface-1-contrast: var(--contrast);
    --surface-2: 88% 0.015 var(--base-hue);
    --surface-2-contrast: var(--text);
    --surface-2-contrast: var(--contrast);
    --surface-3: 85% 0.019 var(--base-hue);
    --surface-3-contrast: var(--text);
    --surface-3-contrast: var(--contrast);
    --surface-4: 82% 0.025 var(--base-hue);

    --destructive: var(--tomato);
    --destructive-contrast: var(--white);

    --warning: var(--neon-carrot);
    --warning-contrast: var(--white);

    --success: 51% 0.15 171;
    --success-contrast: var(--white);

    --info: var(--cerulean-blue);
    --info-contrast: var(--white);

    --selected: 90% 0.05 var(--base-hue);

    --ring: var(--mustard);

    --link: var(--accent);

    --outline: 90% 0.01 var(--base-hue); /* Used for borders */

    --input: var(--white);
    --input-contrast: var(--cyber-grape);
    --input-placeholder: 40% 0.05 var(--base-hue);

    --overlay: 10% 0.075 var(--base-hue);

    /* Sequences */
    --node-1: var(--neon-coral);
    --node-1-contrast: var(--white);
    --node-2: var(--sea-serpent);
    --node-2-contrast: var(--white);
    --node-3: var(--purple-pizazz);
    --node-3-contrast: var(--white);
    --node-4: var(--neon-carrot);
    --node-4-contrast: var(--white);
    --node-5: var(--kiwi);
    --node-5-contrast: var(--white);
    --node-6: var(--cerulean-blue);
    --node-6-contrast: var(--white);
    --node-7: var(--paradise-pink);
    --node-7-contrast: var(--white);
    --node-8: var(--mustard);
    --node-8-contrast: var(--white);

    --edge-1: var(--mustard);
    --edge-2: var(--purple-pizazz);
    --edge-3: var(--neon-coral);
    --edge-4: var(--kiwi);
    --edge-5: var(--paradise-pink);
    --edge-6: var(--tomato);
    --edge-7: var(--sea-serpent);
    --edge-8: var(--slate-blue);
    --edge-9: var(--sea-green);
    --edge-10: var(--cerulean-blue);

    --ord-1: var(--sea-green);
    --ord-2: var(--sea-serpent);
    --ord-3: var(--tomato);
    --ord-4: var(--neon-carrot);
    --ord-5: var(--kiwi);
    --ord-6: var(--cerulean-blue);
    --ord-7: var(--paradise-pink);
    --ord-8: var(--mustard);

    /* used by categorical and convex hulls */
    --cat-1: var(--sea-serpent);
    --cat-2: var(--purple-pizazz);
    --cat-3: var(--mustard);
    --cat-4: var(--paradise-pink);
    --cat-5: var(--kiwi);
    --cat-6: var(--cerulean-blue);
    --cat-7: var(--neon-carrot);
    --cat-8: var(--barbie-pink);
    --cat-9: var(--tomato);
    --cat-10: var(--slate-blue);

    --radius: 1.75rem;
  }

  /** 
    The dark interview theme has purple background with light text.
  */
  [data-theme='dark'] {
    --background: 19% 0.03 var(--base-hue);
    --contrast: 97% 0.001 var(--base-hue);

    /* Reduce chroma for better contrast */
    --primary: 34% 0.15 var(--base-hue);
    --accent: 50% 0.15 var(--accent-hue);

    --muted-contrast: 40% 0.01 var(--base-hue);

    --link: 65% 0.15 var(--accent-hue);

    --border-color: 33% 0.01 var(--base-hue);

    --input: var(--background);
    --input-contrast: var(--contrast);

    /* Surfaces */
    --surface-0: var(--background);
    --surface-0-contrast: var(--contrast);

    --surface-1: 26% 0.03 var(--base-hue);
    --surface-1-contrast: var(--contrast);
    --surface-2: 30% 0.03 var(--base-hue);
    --surface-2-contrast: var(--contrast);
    --surface-3: 33% 0.03 var(--base-hue);
    --surface-3-contrast: var(--contrast);
    --surface-4: 36% 0.03 var(--base-hue);
    --surface-4-contrast: var(--contrast);
  }
}
