@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/*
  Theme for interview setting.
*/

@layer theme {
  :root {
    --heading-font: 'Quicksand', sans-serif;
    --body-font: 'Quicksand', sans-serif;
    --spacing-base: 0.25em; /* TW default uses rem */

    --background: oklch(var(--navy-taupe));
    --text: oklch(var(--white));

    --neutral: oklch(var(--platinum));
    --neutral-contrast: oklch(var(--charcoal));

    --primary: oklch(var(--sea-green));

    --primary-contrast: oklch(var(--white));

    /* For visual emphasis */
    --accent: oklch(var(--slate-blue));
    --accent-contrast: oklch(var(--white));

    --secondary: oklch(var(--slate-blue));
    --secondary-contrast: oklch(var(--white));

    --surface: oklch(from var(--background) calc(l + 0.05) calc(c + 0.005) h);
    --surface-contrast: var(--text);
    --surface-1: oklch(from var(--background) calc(l + 0.09) c h);
    --surface-1-contrast: var(--text);
    --surface-2: oklch(from var(--background) calc(l + 0.13) c h);
    --surface-2-contrast: var(--text);
    --surface-3: oklch(from var(--background) calc(l + 0.05) c h);
    --surface-3-contrast: var(--text);
    --surface-popover: oklch(var(--white));
    --surface-popover-contrast: var(--background);

    --destructive: oklch(var(--neon-coral));
    --destructive-contrast: oklch(var(--white));

    --warning: color-mix(
      in oklch,
      oklch(from var(--color-neon-carrot) l calc(c + 0.3) h),
      white 40%
    );
    --warning-contrast: color-mix(
      in oklab,
      oklch(var(--neon-carrot)),
      black 60%
    );

    --success: oklch(var(--sea-green));
    --success-contrast: oklch(var(--white));

    --info: color-mix(
      in oklch,
      oklch(from var(--color-cerulean-blue) l calc(c + 0.3) h),
      white 45%
    );
    --info-contrast: color-mix(
      in oklab,
      oklch(var(--cerulean-blue)),
      black 60%
    );

    --selected: oklch(var(--white));

    --link: var(--barbie-pink);

    --input: oklch(var(--navy-taupe));
    --input-contrast: oklch(var(--white));

    --overlay: oklch(from oklch(var(--rich-black)) calc(l + 0.15) c h);

    /* Sequences */
    --node-1: oklch(var(--neon-coral));
    --node-1-contrast: oklch(var(--white));
    --node-2: oklch(var(--sea-serpent));
    --node-2-contrast: oklch(var(--white));
    --node-3: oklch(var(--purple-pizazz));
    --node-3-contrast: oklch(var(--white));
    --node-4: oklch(var(--neon-carrot));
    --node-4-contrast: oklch(var(--white));
    --node-5: oklch(var(--kiwi));
    --node-5-contrast: oklch(var(--white));
    --node-6: oklch(var(--cerulean-blue));
    --node-6-contrast: oklch(var(--white));
    --node-7: oklch(var(--paradise-pink));
    --node-7-contrast: oklch(var(--white));
    --node-8: oklch(var(--mustard));
    --node-8-contrast: oklch(var(--white));

    --edge-1: oklch(var(--mustard));
    --edge-2: oklch(var(--purple-pizazz));
    --edge-3: oklch(var(--neon-coral));
    --edge-4: oklch(var(--kiwi));
    --edge-5: oklch(var(--paradise-pink));
    --edge-6: oklch(var(--tomato));
    --edge-7: oklch(var(--sea-serpent));
    --edge-8: oklch(var(--slate-blue));
    --edge-9: oklch(var(--sea-green));
    --edge-10: oklch(var(--cerulean-blue));

    --ord-1: oklch(var(--sea-green));
    --ord-2: oklch(var(--sea-serpent));
    --ord-3: oklch(var(--tomato));
    --ord-4: oklch(var(--neon-carrot));
    --ord-5: oklch(var(--kiwi));
    --ord-6: oklch(var(--cerulean-blue));
    --ord-7: oklch(var(--paradise-pink));
    --ord-8: oklch(var(--mustard));

    /* used by categorical and convex hulls */
    --cat-1: oklch(var(--sea-serpent));
    --cat-2: oklch(var(--purple-pizazz));
    --cat-3: oklch(var(--mustard));
    --cat-4: oklch(var(--paradise-pink));
    --cat-5: oklch(var(--kiwi));
    --cat-6: oklch(var(--cerulean-blue));
    --cat-7: oklch(var(--neon-carrot));
    --cat-8: oklch(var(--barbie-pink));
    --cat-9: oklch(var(--tomato));
    --cat-10: oklch(var(--slate-blue));

    --radius: 2rem;
  }
}

@layer base {
  html,
  body {
    font-size: 20px;
  }
}
