@import 'core/animation';
@import 'core/bem';
@import 'core/breakpoints';
@import 'core/color';
@import 'core/spacing';
@import 'core/typography';
@import 'core/quicksand';
@import 'core/normalize';
@import 'core/z-index';
@import 'core/helpers';

$export-ui-classes: true !default;

:root {
  // Typographic base styles
  --base-font-size: 16px;
  --heading-font-family: var(--netcanvas-font-stack);
  --body-font-family: var(--netcanvas-font-stack);

  // Default border radius
  --border-radius: #{unit(1)};

  // Link color
  --link-color: var(--color-neon-coral);

  // each item in color map
  @each $name, $color in $-color-map {
    #{'--'}color-#{$name}: #{'rgb('}#{$color}#{')'};
    #{'--'}color-#{$name}---rgb: #{$color};
  }

  // each item in palette
  @each $name, $palette in $-palette-map {
    #{'--'}#{$name}: #{$palette};
  }

  // Top level transparentised values
  --transparent-light: #{transparentize(rgb(255, 255, 255), 0.7)};
  --transparent-md: #{transparentize(rgb(128, 128, 128), 0.7)};
  --transparent-dark: #{transparentize(rgb(0, 0, 0), 0.3)};

  // additional one-off palette values
  --narrative-heading-color: #{transparentize(rgb(255, 255, 255), 0.3)};
  --narrative-heading-bg-hover: #{transparentize(rgb(22, 21, 43), 0.85)};
  --narrative-border-bottom-color: #{transparentize(rgb(22, 21, 43), 0.85)};

  --node-outer-trim-stroke: #{transparentize(rgb(255, 255, 255), 0.75)};
  --node-bucket-bg: #{radial-gradient(ellipse at center, transparentize(rgb(45, 41, 85), 0.5) 0%, transparentize(rgb(58, 58, 117), 0.5) 100%)};
  --node-list-action-bg: #{transparentize(rgb(58, 58, 117), 0.5)};

  --drop-shadow-color: #{transparentize(rgb(22, 21, 43), 0.25)};

  --session-management-screen-bg: #{transparentize(rgb(58, 58, 117), 0.5)};

  // Inputs
  --input-background: #{transparentize(rgb(0, 0, 0), 0.67)};
  --input-label: #{transparentize(rgb(255, 255, 255), 0)};
  --input-placeholder: #{transparentize(rgb(255, 255, 255), 0.75)};
  --input-panel-bg: var(--color-rich-black);

  --modal-overlay: #{transparentize(rgb(39, 32, 76), 0.1)};
  --modal-window-box-shadow: #{transparentize(rgb(22, 21, 43), 0.25)};

  --panel-selected-node-bg-color: #{transparentize(rgb(255, 255, 255), 0.95)};

  --panel-bg-muted: #36315f; //sass-lint:disable-line no-color-literals

  --menu-item-hover: #{darken(rgb(0, 201, 162), 5%)};
  --menu-item-hover-settings: #{darken(rgb(107, 114, 236), 5%)};
}

// to export out into css modules for js
:export {
  @each $name, $color in $-color-map {
    #{$name}: #{$color};
  }
}

@if $export-ui-classes {
  @include normalize;
}

html {
  font-family: var(--body-font-family);
  font-size: var(--base-font-size);
}

a {
  color: var(--link-color);
}
