// Typography setter, mixins and classes based on breakpoints
// ==========================================================
$base-line-height: 1.5;

:root {
  --netcanvas-font-stack: 'Quicksand', 'Open Sans', sans-serif;
  --system-font-stack: 'system-ui', sans-serif;
}



// NEW system!
$font-sizes: (
  6: 3.815rem,
  5: 3.052rem,
  4: 2.441rem,
  3: 1.953rem,
  2: 1.563rem,
  1: 1.25rem,
  body: 1rem,
  small: .8rem,
);

@function type-scale($name) {
  @return map-get($font-sizes, $name);
}


// OLD system! To be refactored/removed
$-type-map: () !default;

@mixin type-set($type-name, $breakpoint-name, $type-properties) {
  $type-group: map-get($-type-map, $type-name) or ();
  $type-group: map-merge($type-group, ($breakpoint-name: $type-properties));
  $-type-map: map-merge($-type-map, ($type-name: $type-group)) !global;
}

@mixin typography($type-name, $type-property: null) {
  @if map-has-key($-type-map, $type-name) {
    $type-group: map-get($-type-map, $type-name);
    @each $breakpoint-name, $type-properties in $type-group {
      @include breakpoint($breakpoint-name) {
        @each $property, $value in $type-properties {
          @if not $type-property or $type-property == $property {
            #{$property}: #{$value};
          }
        }
      }
    }
  }
}

@mixin typography-classes($prefix: 'type--') {
  @each $type-name, $type-group in $-type-map {
    .#{$prefix}#{$type-name} {
      @include typography($type-name);
    }
  }
}

// Based of px sizes in style guide (em values were inconsistent)
$headings: (
  h1: (1.75rem, var(--heading-font-family)),
  h2: (1.25rem, var(--heading-font-family)),
  h3: (1.1625rem, var(--heading-font-family)),
  h4: (1rem, var(--heading-font-family)),
  h5: (0.75rem, var(--heading-font-family)),
);

// Headings
$headings-font-weight: 600 !default;
$headings-line-height: 1.1 !default;

@mixin text($font-size, $font-family) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: $headings-font-weight;
  letter-spacing: 0.05rem;
  line-height: $headings-line-height;
}

@each $heading-tag, $heading-properties in $headings {
  #{$heading-tag} {
    $font-size: nth($heading-properties, 1);
    $font-family: nth($heading-properties, 2);

    @include text($font-size, $font-family);
  }
}

@include type-set(
  'quicksand', base,
  (
    font-family: var(--heading-font-family),
    font-size: 1rem,
    line-height: $base-line-height,
    font-weight: $headings-font-weight
  )
);
@include type-set(
  'light', base, (font-weight: 300)
);
@include type-set(
  'medium', base, (font-weight: 500)
);
@include type-set(
  'bold', base, (font-weight: 700)
);
@include type-set(
  'center', base, (text-align: center)
);
// H1  - questions, form, and menu headlines
@include type-set(
  'main-title', base,
  (
    font-family: var(--heading-font-family),
    font-size: 3rem,
    line-height: 1.429,
    font-weight: 700,
    text-align: center,
  )
);

@include type-set(
  'title-1', base,
  (
    font-family: var(--heading-font-family),
    font-size: 2.3rem,
    line-height: 1.429,
    font-weight: 700,
    text-align: center,
    width: 100%
  )
);

// H2 - Form question headlines, buttons, text links
@include type-set(
  'title-2', base,
  (
    font-size: 1.2rem,
    line-height: $base-line-height,
    font-weight: 500,
  )
);

// H3 - Large nodes, name generator panel, ordinal bins, categorial bins
@include type-set(
  'title-3', base,
  (
    font-size: 1.05rem,
    line-height: $base-line-height,
    font-weight: $headings-font-weight,
    text-align: center,
  )
);
// H4 - Menu items, error message headline, body copy
@include type-set(
  'title-4', base,
  (
    font-size: 1rem,
    line-height: $base-line-height,
  )
);
// H5 - Small nodes, context bins, number counter, form field label
@include type-set(
  'title-5', base,
  (
    font-size: 0.8rem,
    line-height: $base-line-height,
  )
);

// Copy sizes
@include type-set(
  'copy-large', base,
  (
    font-size: 1.1rem,
    line-height: $base-line-height
  )
);
@include type-set(
  'copy-standard', base,
  (
    font-size: 1rem,
    line-height: $base-line-height
  )
);
@include type-set(
  'copy-small', base,
  (
    font-size: 0.7rem,
    line-height: $base-line-height,
    font-weight: 100
  )
);
