.item-list {
  flex: 1;
  display: flex;
  position: relative;

  &__container,
  &__sizer {
    flex: 1;
    display: flex;
  }

  &__grid {
    overflow-x: hidden !important; // sass-lint:disable-line no-important
  }

  &__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &__empty {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__drop-overlay {
    background: var(--transparent-dark);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    &--active {
      background: var(--background);
    }
  }
}

