@use '@/styles/base/spacing';
@use '@/styles/base/helpers';
@use '@/styles/base/typography';

.graphic-button {
  display: inline-flex;
  width: 100%;
  color: var(--color-white);
  background-repeat: no-repeat;
  height: spacing.unit(17);
  border-radius: spacing.unit(2);
  position: relative;
  justify-content: center;
  align-items: center;

  &--clickable {
    @include helpers.clickable(2);
  }

  &__label {
    position: relative;

    h2 {
      font-size: typography.type-scale(3);
      margin: 0;
    }

    h3 {
      text-transform: none !important;
      font-size: typography.type-scale(body);
      margin: spacing.unit(1) 0 0;
    }

    h2, h3 {
      text-shadow: 1px 1px 0rem #000000, 0 0rem spacing.unit(1) #000000b8;
    }
  }
}