name: 'Chromatic'
permissions:
  contents: read
  pull-requests: write

on: push

jobs:
  chromatic:
    name: Run Chromatic
    runs-on: ubuntu-latest
    steps:
      - name: Setup
        uses: ./.github/actions/setup-pnpm
        with:
          fetch-depth: '0'

      - name: Run Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          autoAcceptChanges: main
          onlyChanged: true
